.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 500px;
    min-height: 600px;
    border: 5px dashed tomato;
    justify-content: flex-start;
    align-items: flex-end;
}

.flex-item {
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    padding: 1.5rem;
    background: mistyrose;
    border: 3px solid tomato;
    color: tomato;
    margin: 6px;
}