.social-share-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.social-share-container.from-left {
  left: 0px;
}
.social-share-container.from-left .social-share-wrapper {
  position: relative;
}
.social-share-container.from-left .social-share-wrapper:hover .social-share-title {
  display: block;
}
.social-share-container.from-left .social-share-wrapper .social-share-title {
  font-size: 0.8rem;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  transform: translateY(-100%);
  white-space: nowrap;
  display: none;
}
.social-share-container.from-left .social-share-wrapper .social-share-menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.social-share-container.from-left .social-share-wrapper .social-share-menu .social-share-list-item {
  height: 30px;
  width: 30px;
  padding: 0px;
  margin: 0px;
}
.social-share-container.from-left .social-share-wrapper .social-share-menu .social-share-list-item .fa {
  text-align: center;
  line-height: 30px;
}
.social-share-container.from-left .social-share-wrapper .social-share-menu .social-share-list-item a {
  width: 30px;
  height: 30px;
  display: block;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.social-share-container.from-left .social-share-wrapper .social-share-menu .social-share-list-item a span {
  width: 0;
  left: 30px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.6;
  white-space: nowrap;
  line-height: 30px;
  transition: 0.25s ease;
}
.social-share-container.from-left .social-share-wrapper .social-share-menu .social-share-list-item a:hover span {
  width: auto;
  padding: 0 20px;
  overflow: visible;
}
.social-share-container.from-right {
  right: 0px;
}
.social-share-container.from-right .social-share-wrapper {
  position: relative;
}
.social-share-container.from-right .social-share-wrapper:hover .social-share-title {
  display: block;
}
.social-share-container.from-right .social-share-wrapper .social-share-title {
  font-size: 0.8rem;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  width: auto;
  transform: translateY(-100%);
  white-space: nowrap;
  display: none;
}
.social-share-container.from-right .social-share-wrapper .social-share-menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.social-share-container.from-right .social-share-wrapper .social-share-menu .social-share-list-item {
  height: 30px;
  width: 30px;
  padding: 0px;
  margin: 0px;
}
.social-share-container.from-right .social-share-wrapper .social-share-menu .social-share-list-item .fa {
  text-align: center;
  line-height: 30px;
}
.social-share-container.from-right .social-share-wrapper .social-share-menu .social-share-list-item a {
  width: 30px;
  height: 30px;
  display: block;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.social-share-container.from-right .social-share-wrapper .social-share-menu .social-share-list-item a span {
  width: 0;
  left: 30px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.6;
  white-space: nowrap;
  line-height: 30px;
  transition: 0.25s ease;
  transform: translateX(calc(-100% - 30px));
}
.social-share-container.from-right .social-share-wrapper .social-share-menu .social-share-list-item a:hover span {
  width: auto;
  padding: 0 20px;
  overflow: visible;
}
.social-share-container .home,
.social-share-container .home span {
  background: #0fc20f;
}
.social-share-container .facebook,
.social-share-container .facebook span {
  background: #2c20d4;
}
.social-share-container .contact,
.social-share-container .contact span {
  background: #a324ca;
}