.div-1 {
    background: #FFE6CC;
}
.div-2 {
    background: #DAE8FC;
}
.div-3 {
    background: #D5E8D4;
}
.div-4 {
    background: #E1D5E7;
}
.div-5 {
    background: #D80073;
}
.div-6 {
    background: #1BA1E2;
}
.div-7 {
    background: #A20025;
}
.div-8 {
    background: #F0A30A;
}